/* Generales */
@font-face {
	font-family: "icomoon";
	src: url("../fonts/icomoon.eot?6i4w2b");
	src: url("../fonts/icomoon.eot?6i4w2b#iefix") format("embedded-opentype"),
		url("../fonts/icomoon.ttf?6i4w2b") format("truetype"),
		url("../fonts/icomoon.woff?6i4w2b") format("woff"),
		url("../fonts/icomoon.svg?6i4w2b#icomoon") format("svg");
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: "icomoon" !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
	content: "\e900";
}
body {
	font-family: "Old Standard TT", serif;
	margin: 0px;
	overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Cinzel", serif;
	font-weight: normal;
}
h1 {
	font-size: 39px;
	line-height: 2.2;
	letter-spacing: 0px;
	color: darkgray;
	margin: 10px;
}
h1 strong {
	text-decoration: underline;
	color: darkcyan;
}
h2,
h3 {
	font-weight: bold;
	margin-bottom: 30px;
}
ol,
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
figure {
	margin: 0;
}
/* Seccion Header */
.header {
	height: 90px;
	background-color: #0f0f0f;
	color: #008e7f;
	display: flex;
	box-shadow: 0px 10px 300px #fff;
	justify-content: space-between;
	/* align-items: center; */
	flex-wrap: wrap;
}
.container {
	max-width: 1000px;
	flex: 1;
	margin: 0 auto;
	display: inherit;
	flex-wrap: inherit;
	justify-content: inherit;
	align-items: inherit;
	height: inherit;
}
.logo-container {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	margin: 0;
}
.logo-container p {
	font-size: 40px;
	line-height: 1.8;
	letter-spacing: -2px;
	color: darkcyan;
	margin: 0px;
}
.logo {
	margin: 0;
	margin-left: 35px;
	margin-right: 35px;
}
.logo img {
	width: 50px;
	height: 50px;
}
.header ol {
	display: flex;
	height: inherit;
}
.header ol li {
	height: inherit;
}
.header a {
	display: flex;
	align-items: center;
	height: inherit;
	color: darkcyan;
	font-weight: bold;
	text-decoration: none;
	margin: 0px;
	padding: 0px 10px;
}
.menu {
	height: inherit;
}

/* Seccion Hero */
.hero {
	height: 400px;
	background-color: #1f1f1f;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.hero-image {
	width: 300px;
	height: 400px;
	object-fit: cover;
}

/* Seccion Experiencia */
.experiencia {
	background-color: #d0d0d0;
	padding: 20px;
	overflow-x: hidden;
}
.proyecto {
	/* height: 400px; */
	border: 1px solid;
	margin-bottom: 15px;
	padding: 20px;
	background-color: ghostwhite;
	border-radius: 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	overflow-x: hidden;
}
.proyecto-detalles {
	width: 50%;
}
.proyecto-titulo {
	font-size: 30px;
	margin: 0px;
}
.proyecto-imagen-container {
	width: 50%;
	height: inherit;
	align-items: center;
}
.proyecto-imagen {
	max-width: 90%;
	max-height: 90%;
}

/* Seccion formacion */
.form-tit {
	background-color: #e0e0e0;
}
.formacion-titulo {
	margin: 0;
	padding-left: 10px;
	padding-top: 30px;
	background-color: #e0e0e0;
}
.formacion {
	display: flex;
	flex-wrap: wrap;
	background-color: #e0e0e0;
	margin-top: 0px;
	padding-top: 30px;
	justify-content: center;
}
.formacion-institucion {
	margin: 10px;
	width: 45%;
	flex-shrink: 0;
	overflow: hidden;
	border-radius: 10px;
	background-color: #f9f9f9;
}
.institucion-imagen {
	width: 100%;
	height: 200px;
	object-fit: cover;
	background-color: black;
}

.formacion-descripcion {
	margin: 20px 40px;
	margin-top: -40px;
	background-color: white;
	position: relative;
	text-align: center;
	padding: 20px;
	border-radius: 5px;
}
.institucion-carrera {
	/* text-align: left; */
	font-style: italic;
	font-size: 20px;
}
.institucion-evidencia {
	border: 1px darkcyan solid;
	padding: 5px 25px;
	border-radius: 5px;
	text-decoration: none;
	color: black;
	font-weight: bold;
}
.institucion-nombre {
	font-weight: bold;
}

/* Seccion contacto */
.contacto {
	background-color: #0f0f0f;
	color: white;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 10px;
	margin-bottom: 10px;
	flex-wrap: wrap;
}
.social-link {
	display: block;
	width: 50px;
	height: 50px;
	margin: 10px 10px;
	background-size: 50px 50px;
}
.social-link.github {
	background-image: url("../images/github.png");
}
.social-link.linkedin {
	border: 1px white solid;
	border-radius: 10px;
	background-color: white;
	background-image: url("../images/linkedin.svg");
}
.social-link.platzi {
	border-radius: 10px;
	background-image: url("../images/platzi.png");
}
.social-container {
	display: inherit;
	flex-wrap: inherit;
	justify-content: inherit;
	align-items: inherit;
	height: inherit;
}
.info-container {
	display: block;
	flex-wrap: inherit;
	justify-content: inherit;
	align-items: inherit;
	height: inherit;
}
.info-container h2 {
	margin-bottom: 0;
	padding: 0;
}
.info-container p {
	margin: 2px;
	padding: 5px 20px;
}
.video {
	/* width: 100%; */
	max-width: 100%;
}
.burguer-menu {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: rgba(0, 0, 0, 0.8);
	display: block;
	display: none;
	text-align: center;
	line-height: 40px;
	position: fixed;
	z-index: 9999;
	top: 5px;
	left: 5px;
	color: white;
}
/* Desktop first desde el Media query mas grande */
@media screen and (max-width: 1023px) {
}
@media screen and (max-width: 865px) {
	.header {
		display: block;
		height: auto;
	}
	.header .logo-container {
		justify-content: center;
	}
	.header ol {
		display: initial;
	}
	.header ol li {
		height: 50px;
	}
	.header a {
		justify-content: center;
		height: 40px;
		font-size: 2em;
		text-decoration: underline;
		margin-bottom: 0.5em;
	}
	.menu {
		position: fixed;
		background: rgba(0, 0, 0, 0.7);
		top: 0;
		left: -100vw;
		z-index: 3;
		width: 100vw;
		/* height: 100vh; */
		bottom: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: 0.5s;
	}
	.menu.is-active {
		left: 0;
	}
	.proyecto {
		display: block;
	}
	.proyecto-titulo {
		font-size: 1.5em;
		margin-bottom: 0.3em 0;
	}
	.proyecto-fecha {
		font-size: 1.2em;
		margin: 0.4em 0;
	}
	.proyecto-descripcion {
		font-size: 0.8em;
		margin: 0.4em 0;
	}
	.proyecto-lenguajes {
		font-size: 0.8em;
		margin: 0.4em 0;
	}
	.proyecto-url {
		font-size: 0.8em;
		margin: 0.4em 0;
	}
	.proyecto-imagen-container {
		width: auto;
		text-align: center;
	}
	.proyecto-imagen-container img {
		max-width: 100%;
	}
	.proyecto-detalles {
		width: auto;
		font-size: 16px;
	}
	.formacion {
		justify-content: center;
	}
	.formacion-institucion {
		width: 70%;
		margin-bottom: 0.5em;
	}
	.institucion-imagen {
		object-fit: cover;
	}
	.hero {
		height: auto;
		position: relative;
		overflow: hidden;
		padding: 2em;
	}
	.hero-image {
		position: absolute;
		z-index: 1;
		left: 0;
		top: 0;
		bottom: 0;
		right: 0;
		width: 100%;
	}
	.burguer-menu {
		display: block;
	}
	h1 {
		font-size: 2em;
		z-index: 2;
		color: black;
		background: rgba(0, 0, 0, 0.5);
		color: black;
	}
	h1 strong {
		color: white;
	}
}
@media screen and (max-width: 480px) {
	.proyecto-detalles {
		padding: 0px;
	}
	.contacto {
		justify-content: center;
	}
	.info-container p {
		margin: 0;
		padding: 0;
	}
	h1 {
		font-size: 1.5em;
	}
}
@media screen and (max-width: 320px) {
	h1 {
		font-size: 1.2em;
	}
}
